$enable-responsive-font-sizes: true;

$green: #7cad31;

@import "~bootstrap/scss/bootstrap";

.very-big-font {
  font-size: 128px;   
  line-height: 128px; 
}

.big-font {
  font-size: 64px;
  line-height: 64px;
}

#piechart {
  width: 100%;  
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}