$enable-responsive-font-sizes: true;

$green: #7cad31;

@import "~bootstrap/scss/bootstrap";

.rounds {
    font-size: 8em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}